.product-item {
    border: 5px solid black;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.green {
    background-color: rgb(155, 212, 155);
}

.red {
    background-color: red;
}